@model IEnumerable<HrSystem.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateHiring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeAttend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeLeave)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateHiring)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeAttend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeLeave)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
        </td>
    </tr>
}

</table>
