@model IEnumerable<Project_Poineet.AttendanceTransaction>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Employee_Name)
        </th>
        <th>
            Date of Transaction
        </th>
        <th>
            Attendding Time
        </th>
        <th>
            leaving Time
        </th>
        <th>
            net salary
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.Employee_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TodayDateTrans)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AttendTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.leaveTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.netsalary)
    </td>


    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
