@model Hr.Setting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Holidaystring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Holidaystring)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
